body {
  padding: 10px;
}


.row {
  margin: 0;
  font-size: 0;
}

.block {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}

.grid {
   border: 3px solid black;
   margin: auto;
}

#buttonWrapper {
  border: 1px solid red;
  float: left;
  margin-top: 10%;
  margin-left: 50px;
}