body {
  padding: 10px;
}

.grid{
  border: 3px solid grey;
}

.row {
  width: 95%;
  margin: 0;
  padding: -3px 0px;
  text-align: center;
  font-size: 0;
}

.block {
  box-sizing: border-box;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}
